@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* input,button 기본 스타일 초기화 */
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  box-sizing: border-box;
  padding: 2vw;
  background-color: #fff;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
}
.container .note-box {
  width: 100%;
}
.container .note-box h1 {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2vw;
}
.container .note-box .add-area {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5vw;
}
.container .note-box .add-area input {
  height: 4vh;
  width: 80%;
  padding: 1vw;
  font-size: 2vw;
  border-bottom: 1px solid #aaa;
}
.container .note-box .add-area input::-moz-placeholder {
  font-weight: 700;
}
.container .note-box .add-area input::placeholder {
  font-weight: 700;
}
.container .note-box .add-area button {
  width: 15%;
  background-color: #833ab4;
  font-size: 2vw;
  font-weight: 900;
  color: #fff;
  border-radius: 0.5vw;
}
.container .note-box .list-area {
  width: 100%;
}
.container .note-box .list-area li {
  width: 100%;
  display: flex;
  height: 4vh;
  justify-content: space-between;
  margin-bottom: 1vw;
}
.container .note-box .list-area li .text-box {
  width: 80%;
  background: #fff;
  font-size: 1vw;
}
.container .note-box .list-area li .button-box {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.container .note-box .list-area li .button-box button {
  border-radius: 0.5vw;
  width: 45%;
  color: #fff;
  font-weight: 500;
  font-size: 1vw;
}
.container .note-box .list-area li .button-box button:first-child {
  background-color: #fcb045;
}
.container .note-box .list-area li .button-box button:last-child {
  background-color: #fd1d1d;
}/*# sourceMappingURL=style.css.map */