@import 'reset.scss';
@import 'common.scss';
@import 'mixin.scss';

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 70vw;
	box-sizing: border-box;
	padding: 2vw;
	background-color: #fff;
	border-radius: 1vw;
	display: flex;
	justify-content: center;

	@include mobile{
		width: 70vw;
	}

	.note-box {
		width: 100%;

		h1 {
			font-size: 2vw;
			font-weight: 900;
			text-align: center;
			margin-bottom: 2vw;
			@include tablet{
				font-size: 4vw;
			}
			@include mobile{
				font-size: 5vw;
			}
		}

		.add-area {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 1.5vw;
			input {
				height: 4vh;
				width: 80%;
				padding: 1vw;
				font-size: 2vw;
				border-bottom: 1px solid #aaa;
			
				@include mobile{
					font-size : 3vw;
				}
			}
			input::placeholder{
				font-weight: 700;
				

			}

			button {
				width: 15%;
				background-color: #833ab4;
				font-size: 2vw;
				font-weight: 900;
				color: #fff;
				border-radius: 0.5vw;
				@include tablet{
					height : 4vh;
				}
				@include mobile{
					height : 5vh;
				}
			}
		}

		.list-area {
			width: 100%;
			li {
				width: 100%;
				display: flex;
				height: 4vh;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1vw;
				input[type="radio"]{
					width: 1vw;
					height: 1vw;
					border: 1px solid #aaa;
					border-radius: 50%;
					&:checked{
						border: 3px solid tomato;
					}
					@include tablet{
						width: 2vw;
						height: 2vw;
					}
					@include mobile{
						width: 3vw;
						height: 3vw;
					}
				
				}				
				.text-box {
					width: 80%;
					background: #fff;
					font-size: 1vw;
					@include tablet{
						font-size: 2vw;
					}
					@include mobile{
						font-size: 3vw;
					}
				
				}

				.button-box {
					width: 15%;
					display: flex;
					justify-content: space-between;

					button {
						border-radius: 0.5vw;
						width: 45%;
						color:#fff;
						font-weight: 500;
						font-size: 1vw;
						&:first-child{
							background-color: #fcb045;
						}
						&:last-child{
							background-color: #fd1d1d;
						}
						@include tablet{
							font-size:1.6vw;
						}
						@include mobile{
							font-size: 1.5vw;
						}
					}
				}
				@include mobile{
					height : 5vw;
				}
			}

		}
	}
}

